.x-tick {
  font-size: 11px;
}

.y-tick {
  font-size: 14px;
  /*font-weight: bold;*/
}

.hood-item {
  cursor: pointer;
}

.bio-text {
  text-align: left;
}

.lance-tick {
  font-size: 14px;
  /*font-weight: bold;*/
}

.lance-label {
  /*font-weight: bold;*/
  font-size: 16px;
}
